<div id="application">
  {{#mdl-nav title='Tippy' fixedHeader=true closeDrawerOnItemClick=true}}
    {{mdl-nav-item name='Recent Tabs' route='tabs'}}
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        {{outlet}}
      </div>
    </div>
  {{/mdl-nav}}
</div>